node_modules/
.next/
.env
.env.local
.env*.local
*.tsbuildinfo
next-env.d.ts

**/node_modules/
**/.next/
**/.env
**/.env.local
**/.env*.local
**/*.tsbuildinfo
**/next-env.d.ts

ga4-key.json
client_secret_*.json
**/ga4-key.json
**/client_secret_*.json